.Main__Movie h1 {
    justify-content: center;
    display: flex;
    font-weight: 900;
    font-size: 3rem;
}

.Main__Movie {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

// banner
.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;

    img {
        width: 1260px;
        height: 510px;
        border-radius: 20px;
        margin: 0 40px 0 40px;
    }
}

// Cinema
.Cinema {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 0 0 300px;
    margin-bottom: 100px;

    div {
        img {
            max-width: 310px;
            max-height: 140px;
            padding: 10px;
            border-radius: 20px;
        }
    }
}

// Main__info
.Main__info {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.Main__info li {
    flex: 0 0 300px;
    /* 이미지 컨테이너가 최소 200px 이상이면서 화면 크기에 맞춰 자동 조정 */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Main__info img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.Main__info div {
    margin-top: 10px;
}